.profile-items {
    width: 1050px;
    height: 1080px;
}
.profile-item {
    height:190px;
    margin-bottom: 103px;
}
.profile-item-list {
    display: flex;
    margin-top: 20px;
}
.profile-item-img {
    width: 270px;
    height: 150px;
    margin-right: 30px;
}
.profile-item-title {
    align-items: flex-end;
    display: flex;
}
.profile-item-search {
    font-size: 12px;
    margin-left: 10px;
}