.dalent-header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height:80px;
    box-shadow: 0px 3px 16px #00000029;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
}
.dalent-logo {
    width: 80px;
    height: 80px;
}
.login-wrapper {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login-text {
    color: #303030;
    font-size: 20px;
}
.add-work {
    margin-right: 50px;
    color: #ffffff;
    width:120px;
    text-align: center;
    line-height: 40px;
    height:40px;
    background-color: #005082;
}
.user-info {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.user-profile {
    border-radius: 70%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.user-name {
    width: 100px;
    font-size: 20px;
}
.add-work.logout {
    background-color: tomato;
}
.add-work.up {
    margin-top: 20px;
    background-color: goldenrod;
}
.add-work.down {
    margin-top: 20px;
    background-color: lightcoral;
}
.add-work.download {
    margin-top: 20px;
    background-color: royalblue;
}